{% extends 'base.html.twig' %}

{% block page %}{{title}}{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block body %}
    <h2>MyServiceの利用</h2>
    <h3>{{message}}</h3>
    <h4>{{person_name}}</h4>
{% endblock %}
